---
Checks: '-*,bugprone-*,clang-analyzer-*,cert-*,performance-*,readability-simplify-boolean-expr,misc-no-relative-includes'
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case # use lowercase for kernel functions